# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
*.i
*.ll
*.bc
*.dis
*.map
*.log

# Python
*.pyc
venv*/
_study/

# Other
**/riscv-tests/
sw/**/memorymap.h
sw/**/build/
sw/emulator/lib/
**/imgui.ini
hw/**/build/
hw/hdl/cpu/3rd/
